:root {
  --first-color:  #212121;
  --second-color: #757575;
  --third-color:  #ffffff;
  --accent-color: #2196F3;
  --btn-hover-color: #188CE8;
  --bkground-color-one: #2F303A;
  --bkground-color-two: #F5F4FA;
  --header-line-color: #ECECEC;
  --work-name-bg:  rgba(47, 48, 58, 0.8);
  --icons-color: #AFB1B8;
  --footer-icon-bg: rgba(255, 255, 255, 0.1);
  --box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  --border-line-color: #EEEEEE;
  --hover-button: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  --portfolio-item-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  --gradient-service: rgba(47, 48, 58, 0.4);
  --backdropp-color: rgba(0, 0, 0, 0.2);
  --transition-time: 250ms;
  --transition-function: cubic-bezier(0.4, 0, 0.2, 1);
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-color);
}

address {
  font-style: inherit;
}

.link {
  text-decoration: none;
  color: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.service-btn {
  min-width: 200px;
  max-height: 50px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--third-color);
  background-color: var(--accent-color);
  cursor: pointer;
  padding: 10px 32px;
  border: none;
  border-radius: 4px;
  -webkit-transition: background-color var(--transition-time) var(--transition-function);
  transition: background-color var(--transition-time) var(--transition-function);
}

.service-btn:hover, .service-btn:focus {
  background-color: var(--btn-hover-color);
}

.main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--first-color);
  margin-bottom: 50px;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -10px;
  margin-top: -10px;
}

.social-item {
  margin-top: 10px;
  margin-left: 10px;
}

.social-item + .social-item {
  margin-left: 10px;
}

.social-link {
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  color: var(--icons-color);
  -webkit-transition: background-color var(--transition-time) var(--transition-function), color var(--transition-time) var(--transition-function);
  transition: background-color var(--transition-time) var(--transition-function), color var(--transition-time) var(--transition-function);
}

.social-link:hover, .social-link:focus {
  background-color: var(--accent-color);
  color: var(--third-color);
}

.social-link-icon {
  fill: currentColor;
}

.backdropp {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  background-color: var(--backdropp-color);
  -webkit-transition: opacity 500ms, visibility 500ms;
  transition: opacity 500ms, visibility 500ms;
}

.backdropp.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.1);
          transform: translate(-50%, -50%) scale(0.1);
}

.modal {
  width: 528px;
  min-height: 581px;
  background-color: var(--third-color);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 500ms;
  transition: -webkit-transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms;
  padding: 40px;
}

.modal-close {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  outline: none;
  -webkit-transition: fill var(--transition-time) var(--transition-function);
  transition: fill var(--transition-time) var(--transition-function);
}

.modal-close:hover, .modal-close:focus {
  fill: var(--accent-color);
}

.modal-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: var(--first-color);
  margin-bottom: 12px;
}

.form-field:not(:last-child) {
  margin-bottom: 10px;
}

.form-input,
.text-area {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 40px;
  cursor: pointer;
  outline: none;
  -webkit-transition: border-color var(--transition-time) var(--transition-function);
  transition: border-color var(--transition-time) var(--transition-function);
}

.form-input:hover, .form-input:focus,
.text-area:hover,
.text-area:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.form-input::-webkit-input-placeholder,
.text-area::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-input:-ms-input-placeholder,
.text-area:-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-input::-ms-input-placeholder,
.text-area::-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-input::placeholder,
.text-area::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-input:focus + .form-icon {
  fill: var(--accent-color);
}

.input-txt {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--second-color);
}

.form-wrapper {
  margin-bottom: 20px;
}

.input-wrap {
  position: relative;
  color: var(--first-color);
  -webkit-transition: color var(--transition-time) var(--transition-function);
  transition: color var(--transition-time) var(--transition-function);
}

.input-wrap:hover {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.form-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: currentColor;
  -webkit-transition: fill var(--transition-time) var(--transition-function);
  transition: fill var(--transition-time) var(--transition-function);
}

.text-area {
  height: 120px;
  padding: 12px 16px;
  resize: none;
}

.policy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.check-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.policy-icon-wrap {
  width: 16px;
  height: 15px;
  border: 2px solid var(--first-color);
  border-radius: 2px;
  margin-right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-transition: border var(--transition-time) var(--transition-function);
  transition: border var(--transition-time) var(--transition-function);
}

.policy-icon {
  fill: var(--third-color);
}

.policy-checkbox:hover + .check-txt .policy-icon-wrap,
.policy-checkbox:focus + .check-txt .policy-icon-wrap {
  border: 2px solid var(--accent-color);
}

.policy-checkbox:checked + .check-txt .policy-icon-wrap {
  border: none;
  background-color: var(--accent-color);
}

.policy-checkbox:checked .check-txt .policy-icon {
  fill: var(--third-color);
}

.policy-link {
  color: var(--accent-color);
  margin-left: 2px;
}

.modal-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo__header {
  color: var(--first-color);
}

.logo__footer {
  color: var(--third-color);
}

.header {
  border-bottom: 1px solid var(--header-line-color);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav-item:not(:last-child) {
  margin-right: 50px;
}

.header-logo {
  color: var(--first-color);
}

.header__nav {
  margin-left: 93px;
}

.header__nav-list {
  color: var(--first-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-transition: color var(--transition-time) var(--transition-function);
  transition: color var(--transition-time) var(--transition-function);
}

.header__link:hover, .header__link:focus {
  color: var(--accent-color);
}

.header__contack-icon {
  fill: currentColor;
  margin-right: 10px;
}

.current {
  color: var(--accent-color);
}

.current::after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  position: absolute;
  bottom: -1px;
  left: 0;
  border-radius: 2px;
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.header__contact-item:not(:last-child) {
  margin-right: 50px;
}

.service {
  background-color: var(--bkground-color-one);
  background-image: -webkit-gradient(linear, left top, left bottom, from(var(--gradient-service)), to(var(--gradient-service))), url(../images/servicebg.jpg);
  background-image: linear-gradient(var(--gradient-service), var(--gradient-service)), url(../images/servicebg.jpg);
  background-repeat: no-repeat;
  background-size: cover, 1600px auto;
  background-position: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.service__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.service-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--third-color);
  margin-bottom: 30px;
  max-width: 696px;
}

.advantage__item {
  -ms-flex-preferred-size: calc(100%/4 - 30px);
      flex-basis: calc(100%/4 - 30px);
}

.advantage__item-icon {
  height: 120px;
  background-color: var(--bkground-color-two);
  border-radius: 4px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.advantage__item-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--first-color);
  margin-bottom: 10px;
}

.work {
  padding-bottom: 94px;
}

.work-item {
  -ms-flex-preferred-size: calc(100%/3 - 30px);
      flex-basis: calc(100%/3 - 30px);
  position: relative;
}

.work-name {
  background-color: var(--work-name-bg);
  position: absolute;
  width: 100%;
  padding: 27px;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.work-name-txt {
  font-weight: bold;
  text-transform: uppercase;
  color: var(--third-color);
}

.filters-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.filters-item:not(:last-child) {
  margin-right: 8px;
}

.filters-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-color);
  background-color: var(--bkground-color-two);
  cursor: pointer;
  border-radius: 4px;
  border: none;
  padding-left: 22px;
  padding-right: 22px;
  min-height: 38px;
  -webkit-transition: background-color var(--transition-time) var(--transition-function), color var(--transition-time) var(--transition-function), -webkit-box-shadow var(--transition-time) var(--transition-function);
  transition: background-color var(--transition-time) var(--transition-function), color var(--transition-time) var(--transition-function), -webkit-box-shadow var(--transition-time) var(--transition-function);
  transition: background-color var(--transition-time) var(--transition-function), color var(--transition-time) var(--transition-function), box-shadow var(--transition-time) var(--transition-function);
  transition: background-color var(--transition-time) var(--transition-function), color var(--transition-time) var(--transition-function), box-shadow var(--transition-time) var(--transition-function), -webkit-box-shadow var(--transition-time) var(--transition-function);
}

.filters-btn:hover, .filters-btn:focus {
  color: var(--third-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: var(--hover-button);
          box-shadow: var(--hover-button);
}

.current-filter {
  color: var(--third-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: var(--hover-button);
          box-shadow: var(--hover-button);
}

.team {
  background-color: var(--bkground-color-two);
}

.team-item {
  background-color: var(--third-color);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  padding-bottom: 30px;
  -ms-flex-preferred-size: calc(100%/4 - 30px);
      flex-basis: calc(100%/4 - 30px);
}

.team-name,
.team-position {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.team-name {
  font-weight: 500;
  color: var(--first-color);
  margin-top: 30px;
  margin-bottom: 10px;
}

.team-position {
  margin-bottom: 16px;
}

.clients-list {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clients-item {
  -ms-flex-preferred-size: calc(100%/6 - 30px);
      flex-basis: calc(100%/6 - 30px);
}

.clients-link {
  height: 92px;
  border: 1px solid var(--icons-color);
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--icons-color);
  -webkit-transition: border-color var(--transition-time) var(--transition-function), color var(--transition-time) var(--transition-function);
  transition: border-color var(--transition-time) var(--transition-function), color var(--transition-time) var(--transition-function);
}

.clients-link-icon {
  fill: currentColor;
}

.clients-link-icon:hover, .clients-link-icon:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.footer {
  background-color: var(--bkground-color-one);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-info {
  -webkit-transition: color var(--transition-time) var(--transition-function);
  transition: color var(--transition-time) var(--transition-function);
}

.footer-info:hover, .footer-info:focus {
  color: var(--third-color);
}

.footer-address {
  color: var(--third-color);
}

.footer-logo-margin {
  margin-bottom: 20px;
}

.footer-wrap-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-wrap-item:not(:last-child) {
  margin-right: 70px;
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-wrap-item:last-child {
  margin-left: auto;
}

.footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer-txt {
  font-size: 14px;
  line-height: 1.14;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--third-color);
}

.footer-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-link {
  background-color: var(--footer-icon-bg);
  color: var(--third-color);
  -webkit-transition: background-color var(--transition-time) var(--transition-function), color var(--transition-time) var(--transition-function);
  transition: background-color var(--transition-time) var(--transition-function), color var(--transition-time) var(--transition-function);
}

.footer-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer-input {
  width: 358px;
  height: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: 12px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: none;
  padding-left: 12px;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
  -webkit-transition: border-color var(--transition-time) var(--transition-function);
  transition: border-color var(--transition-time) var(--transition-function);
}

.footer-input:hover, .footer-input:focus {
  border-color: var(--third-color);
}

.footer-input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.footer-input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.footer-input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.footer-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.footer-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-btn-txt {
  margin-right: 10px;
}

.example-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.example-item {
  -ms-flex-preferred-size: calc(100%/3 - 30px);
      flex-basis: calc(100%/3 - 30px);
}

.example-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: -webkit-box-shadow var(--transition-time) var(--transition-function);
  transition: -webkit-box-shadow var(--transition-time) var(--transition-function);
  transition: box-shadow var(--transition-time) var(--transition-function);
  transition: box-shadow var(--transition-time) var(--transition-function), -webkit-box-shadow var(--transition-time) var(--transition-function);
}

.example-link:hover, .example-link:focus {
  -webkit-box-shadow: var(--portfolio-item-shadow);
          box-shadow: var(--portfolio-item-shadow);
}

.example-link:hover .example-item-txt,
.example-link:focus .example-item-txt {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.example-item-wrap {
  position: relative;
  overflow: hidden;
}

.example-item-txt {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--third-color);
  font-size: 18px;
  line-height: 28px;
  padding: 63px 24px;
  height: 100%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 500ms var(--transition-function);
  transition: -webkit-transform 500ms var(--transition-function);
  transition: transform 500ms var(--transition-function);
  transition: transform 500ms var(--transition-function), -webkit-transform 500ms var(--transition-function);
}

.border {
  border-left: 1px solid var(--border-line-color);
  border-right: 1px solid var(--border-line-color);
  border-bottom: 1px solid var(--border-line-color);
  padding: 20px 24px;
}

.example-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--first-color);
  margin-bottom: 4px;
}

.example-type {
  font-size: 16px;
  line-height: 1.87;
}

.advantage__list, .work-list, .team-list, .clients-list, .example-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.advantage__item, .work-item, .team-item, .clients-item, .example-item {
  margin-left: 30px;
  margin-top: 30px;
}
/*# sourceMappingURL=main.css.map */