.footer {
    background-color: var(--bkground-color-one);
    padding-top: 60px;
    padding-bottom: 60px;
  }
  
  .footer-info {
    transition: color var(--transition-time) var(--transition-function);

    &:hover, &:focus {
      color: var(--third-color);
    }
  }
  
  .footer-address {
    color: var(--third-color);
    
  }

  .footer-logo-margin {
    margin-bottom: 20px;
  }
  
  .footer-wrap-item {
    display: flex;
    flex-direction: column;
  }
  
  .footer-wrap-item:not(:last-child) {
    margin-right: 70px;
  }
  
  .footer-item:not(:last-child){
    margin-bottom: 9px;
  }
  
  .footer-wrap-item:last-child {
    margin-left: auto;
  }
  
  .footer-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }
  
  .footer-txt {
  font-size: 14px;
  line-height: 1.14;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--third-color);
  }
  
  .footer-label {
    display: flex;
    flex-direction: column;
  }
  
  
  .footer-link {
  background-color: var(--footer-icon-bg);
  color: var(--third-color);
  transition: background-color var(--transition-time) var(--transition-function) , color var(--transition-time) var(--transition-function) ;
  }
  
  
  .footer-form {
    display: flex;
    align-items:flex-end;
  }
  
  .footer-input {
    width: 358px;
    height: 50px;
    box-sizing: border-box;
    margin-right: 12px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    outline: none ;
    padding-left: 12px;
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
    transition: border-color var(--transition-time) var(--transition-function);
    &:hover, &:focus {
      border-color: var(--third-color);
    }

    &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
    }
  }
  
  
  .footer-btn {
    display: flex;
    align-items: center;
  }
  
  .footer-btn-txt {
    margin-right: 10px;
  }