.service {
    width: 100%;
    height: 100%;
    background-color: var(--bkground-color-one);
    background-image: linear-gradient(
      var(--gradient-service),
      var(--gradient-service)),
    url(../images/servicebg.jpg);
    background-repeat: no-repeat;
    background-size: cover, 1600px auto;
    background-position: center;
    padding-top: 200px;
    padding-bottom: 200px;
  }
  
  .service__items {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .service-title {
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--third-color);
    max-width: 360px;
    margin-bottom: 30px;
    
  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
  }