.service {
  @media screen and (max-width: 479px) {
    width: 100%;
    height: 100%;
    background-color: var(--bkground-color-one);
    background-image: linear-gradient(
      var(--gradient-service),
      var(--gradient-service)),
    url(../images/servicebg-mob-1x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 118px;
    padding-bottom: 118px;
  
    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: linear-gradient(
        var(--gradient-service),
        var(--gradient-service)),
        url(../images/servicebg-mob-2x.jpg);
        }
      }
  @media screen and (min-width: 480px) {
    width: 100%;
    height: 100%;
    background-color: var(--bkground-color-one);
    background-image: linear-gradient(
      var(--gradient-service),
      var(--gradient-service)),
    url(../images/servicebg-mob-1x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 118px;
    padding-bottom: 118px;
  
    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: linear-gradient(
        var(--gradient-service),
        var(--gradient-service)),
        url(../images/servicebg-mob-2x.jpg);
        }
      }
        @media screen and (min-width: 768px) {
          background-image: linear-gradient(
            var(--gradient-service),
            var(--gradient-service)),
          url(../images/servicebg-tab-1x.jpg);
          background-size: cover;
          @media (min-device-pixel-ratio: 2),
          (-webkit-min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
              background-image: linear-gradient(
              var(--gradient-service),
              var(--gradient-service)),
              url(../images/servicebg-tab-2x.jpg);
          }
        }

        @media screen and (min-width: 1200px) {
          
          background-image: linear-gradient(
            var(--gradient-service),
            var(--gradient-service)),
          url(../images/servicebg.jpg);
          padding-top: 200px;
          padding-bottom: 200px;
          background-size: cover, 1600px auto;
          @media (min-device-pixel-ratio: 2),
          (-webkit-min-device-pixel-ratio: 2),
          (min-resolution: 192dpi),
          (min-resolution: 2dppx) {
              background-image: linear-gradient(
              var(--gradient-service),
              var(--gradient-service)),
              url(../images/servicebg-2x.jpg);
              padding-top: 200px;
              padding-bottom: 200px;
          }
        }
    }
  
  
  .service__items {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .service-title {
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--third-color);
    max-width: 360px;
    margin-bottom: 30px;
    
  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
  }