.work {
  display: none;
  @media screen and (min-width: 1200px) {
    display: flex;
    padding-bottom: 94px;
    }
  }
  
  .work-list {
      @media screen and (min-width: 1200px) {
         display: flex;
        flex-wrap: wrap;
        margin-left: -30px;
        margin-top: -30px;
      }
     
    }
  
  
  .work-item {
    @media screen and (min-width: 1200px) {
      margin-left: 30px;
      margin-top: 30px;
      flex-basis: calc(100%/3 - 30px);
      position: relative;
    }

  }
  
  .work-name {
    @media screen and (min-width: 1200px) {
      background-color: var(--work-name-bg);
      position: absolute;
      width: 100%;
      padding: 27px;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
  }
  
  .work-name-txt {
    @media screen and (min-width: 1200px) {
      font-weight: bold;
      text-transform: uppercase;
      color: var(--third-color);
    }
    
  }
