.main-title {
    font-weight: 700;
    // font-size: 36px;
    // line-height: 1.16;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    color: var(--first-color);
    // margin-bottom: 50px;
    margin-bottom: 30px;
    }