:root {
    --first-color:  #212121;
    --second-color: #757575;
    --third-color:  #ffffff;
    --accent-color: #2196F3;
    --btn-hover-color: #188CE8;
    --bkground-color-one: #2F303A;
    --bkground-color-two: #F5F4FA;
    --header-line-color: #ECECEC;
    --work-name-bg:  rgba(47, 48, 58, 0.8);
    --icons-color: #AFB1B8;
    --footer-icon-bg: rgba(255, 255, 255, 0.1);
    --box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    --border-line-color: #EEEEEE;
    --hover-button: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    --portfolio-item-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    --gradient-service: rgba(47, 48, 58, 0.4);
    --backdropp-color: rgba(0, 0, 0, 0.2);
    --transition-time: 250ms;
    --transition-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    